.ProjectInfo-container {
    position: relative;
    max-width: 1080px;
    display: inline-block;
    margin: 70px;
    margin-bottom: 10px;
    /* overflow:hidden; */
}

.ProjectInfo-title {
  font-family: 'Raleway';
  color: white;

  font-size: 3em;

  /* position: 20%, 20%; */
  /* float: center; */
  /* top:160px; */
  margin-top: 150px;
  margin-bottom: 40;
  /* right: 10%; */
  /* opacity: 1; */
}

.Project-details {
  cursor: pointer;
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  opacity: 0;
}

.Project-details.show {
  -webkit-animation: show 1s both;
  -moz-animation: show 1s both;
  -ms-animation: show 1s both;
  -o-animation: show 1s both;
  animation: show 1s both;
}

.Project-preview {
  max-width: 100%;
  cursor: pointer;
}

.Project-preview.hide {
  -webkit-animation: hide 2s both;
  -moz-animation: hide 2s both;
  -ms-animation: hide 2s both;
  -o-animation: hide 2s both;
  animation: hide 2s both;
}

@media (min-width:993px)
{
  .w3-hide-large{
    display:none!important
  }
}
@media (max-width:700px) and (min-width:501px)
{
  .size-medium{
    width: 85%;
    font-size: 18px;
    /* display:none!important */
  }
}

@media (max-width:500px){
  .size-small{
    width: 100%;
    font-size: 15px;
    /* display:none!important */
  }
}

@keyframes show {
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  100% {
    -webkit-filter: brightness(40%);
    -moz-filter: brightness(40%);
    -o-filter: brightness(40%);
    -ms-filter: brightness(40%);
    filter: brightness(40%);
  }
}
