.ProjectInfo-container {
    position: relative;
    max-width: 1080px;
    display: inline-block;
    margin: 70px;
    margin-bottom: 10px;
    /* overflow:hidden; */
}

.ProjectInfo-title {
  font-family: 'Raleway';
  color: white;

  font-size: 3em;

  /* position: 20%, 20%; */
  /* float: center; */
  /* top:160px; */
  margin-top: 150px;
  margin-bottom: 40;
  /* right: 10%; */
  /* opacity: 1; */
}

.Project-preview {
  max-width: 100%;

}
