@font-face {
    font-family: 'Raleway'; /*a name to be used later*/
    src: url('fonts/Raleway/Raleway-Thin.ttf'); /*URL to font*/
}

.App {
  text-align: center;
}

.App-background {
  background-image: url(images/bg.png);
  background-attachment: fixed;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  text-align: center;
  min-height:100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-bar-div {
  position: relative;
  top: 0px;
  left: 5%;
  width: 72px;
  height: 388px;
}
.App-bar {
  position: relative;
  top: 0px;
  left: 0px;
}

.App-nav-icon {
  position: absolute;
  top: 40px;
  left: 25px;
  fill: #fff;
  width: 24px;
  cursor: pointer;
  height: 24px;
  /* animation: fillChange 1s infinite ease both; */
}

.App-nav-icon:hover {
  animation: fillChange .5s forwards;
}

@keyframes fillChange {
  100% {
    fill: #FFDB79;
  }
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-family: 'Raleway';
  color: white;
  /* font-size: 1.5em; */
  position: absolute;
  right: 10%;
}

.App-intro {
  margin: 0;
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
