@font-face {
    font-family: 'Raleway'; /*a name to be used later*/
    src: url('fonts/Raleway/Raleway-Thin.ttf'); /*URL to font*/
}

.App {
  text-align: center;
}

.App-background {
  /* background-image: url(images/bg.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
  min-height:100vh; */

}

.App-home {
overflow: hidden;
  position: relative;
  float: center;
  width:inherit;
  height: auto;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-bar-div {
  position: relative;
  position: fixed;
  top:50%;
  left: 2%;
  width: 72px;
  height: 388px;
  float: left;
  z-index: 5;
}
.App-bar {
  position: relative;
  top: -50%;
  left: 0px;
}

.App-nav-icon {
  position: absolute;
  top: -155px;
  left: 25px;
  fill: #fff;
  width: 24px;
  cursor: pointer;
  height: 24px;
  /* animation: fillChange 1s infinite ease both; */
}

.App-nav-icon:hover {
  animation: fillChange .5s forwards;
}

.App-nav-icon.click {
  fill: #00D0FE;
}

@keyframes fillChange {
  100% {
    fill: #FFDB79;
  }
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-family: 'Raleway';
  color: white;
  font-size: 4em;

  /* position: 20%, 20%; */
  /* float: center; */
  /* top:160px; */
  margin-top: 150px;
  margin-bottom: 0;
  /* right: 10%; */
  /* opacity: 1; */

}

/* .wf-loading .App-title {
  opacity: 0;
} */

.App-title2 {
  font-family: 'Raleway';
  color: white;

  position: absolute;
  /* right: 10%; */
  margin-top: 0px;
  /* float: left; */
  /* top:485px ; */

  font-size:2em;
  /* bottom: 5%; */
}

.App-intro {
  margin: 0;
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
