@font-face {
    font-family: 'Raleway'; /*a name to be used later*/
    src: url('fonts/Raleway/Raleway-Thin.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Open Sans'; /*a name to be used later*/
    src: url('fonts/Open_Sans/OpenSans-Regular.ttf'); /*URL to font*/
}

body {
  margin: 0;
  padding: 0;
  /* z-index: 1; */
  /* display: block; */
  font-family: sans-serif;

  font-family: 'Raleway';
  /* background-image: url(images/bg.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top; */
  text-align: center;
  /* min-height:100vh; */
}

h2 {

  color: white;
  margin: 0;
  margin-bottom: 10px;
}

.bg {

  margin: 0;
  padding: 0;
  z-index: 0;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;

  font-family: sans-serif;
  background-image: url(images/bg4.png);
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transform: scale(1.1);
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
  min-height:100vh;

}

.bg.blur {
  -webkit-animation: bgBlur 3s both;
  -moz-animation: bgBlur 3s both;
  -ms-animation: bgBlur 3s both;
  -o-animation: bgBlur 3s both;
  animation: bgBlur 3s both;
}

.bg.noBlur {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  -webkit-animation: nonBlur 3s both;
  -moz-animation: nonBlur 3s both;
  -ms-animation: nonBlur 3s both;
  -o-animation: nonBlur 3s both;
  animation: nonBlur 3s both;
}

@keyframes bgBlur {
  100% {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    /* filter: brightness(70%)blur(5px); */

  }
}

@keyframes nonBlur {
  100% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    /* filter: brightness(70%)blur(5px); */

  }
}
